<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Definir appenders aquí -->
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <!-- Configuración para nuestro nuevo nivel de logging personalizado -->
        <Logger name="com.example" level="miLogLevel" additivity="false">
            <AppenderRef ref="CUSTOM_APPENDER"/>
        </Logger>
    </Loggers>
</Configuration>